<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); -%>
</head>

<body>
  <%- include('partials/header'); -%>
    <div class="container">

      <h1>Example</h1>
      <!--Save address variable to js variable-->
      <script>var local_address = '<%= address %>'; </script> Contract Address:
      <br>
      <br>
      <%= address %>
        <br> Blocknumber:
        <div id="blocknumber"></div>
        <br>
        <br>
        <div id="videoinfo"></div>
        <br>
        <br>
        <div>
          idvideo:
          <input type="text" id="idvideo">
        </div>

        <div>
          secret Key:
          <input type="text" id="secretkey">
        </div>
        <div>
          releaseDate:
          <input type="text" id="releasedate">
        </div>

        <div>
          Amount ether:
          <input type="text" id="amounteth" value="1000000000000000000">
        </div>

        <div>
          <button onclick="uploadVideo()">upload Video</button>
        </div>
        <div>
          <button onclick="getVideoAttributes()">get Video Attributes</button>
        </div>
        <div>
          <button onclick="releaseVideo()">Release Video</button>
        </div>



    </div>


    <%- include('partials/footer'); -%>

</body>






</html>